

.hi-nav{
    display: flex;
    position:sticky;
    /* justify-content: space-between; */
    top: -1px;
    z-index: 2;
    background-color: var(--base-dark);
    max-width: 100vw;
    border-bottom: 1px solid var(--neutral);
    height: clamp(5rem, 12vw ,7rem);

}

.the-brain{
    transition: ease-in 0.1s;
}
.hi-nav.scrolled .the-brain{
    transition: ease-in 0.3s;
    transform: scale(1.2) translate(150px,8px) rotate(10deg);
}
.nav-logo path:not(.the-brain){
    transition: ease-in 0.05s;
}
.hi-nav.scrolled .nav-logo path:not(.the-brain){
fill: transparent;
}
.hi-nav.scrolled .logo-container{
height: 4rem;
}


.nav-logo{
    padding: 1vw;
    padding-left: 5vw;
    padding-bottom: 0;
    fill: white;
    width: clamp(11rem, 20vw , 16rem);
    /* transform: scale(0.55); */
    /* outline:purple 2px solid; */
}

.nav-link-container, .donate-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.nav-link-container{
    width: 70vw;
    gap: 10px;
    align-items: center;
    /* padding-top: 40px;
    padding-top: 40px;
    padding-top: 40px; */
}

.donate-container{
    max-width : 15vw;
    min-width: 144px;
}

.nav-link {
    text-decoration: none;
    color: var(--neutral);
    font-family: var(--ff);
    font-weight: bold;
    /* font-size: 1.25rem; */
    /* font-size: min(1.25vw, 1.125rem); */
    font-size: clamp(1.125rem, 1.5vw, 1.625rem);
    transition: 0.25s ease-in-out;
}
.nav-link:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr fit-content;
    grid-template-rows: 1fr;
    grid-column:1/2;
    max-width: 10vw;
    translate : 0 0.1vw;
    

}
.nav-link:nth-of-type(3){
    display: grid;
    grid-template-columns:  1fr fit-content;
    grid-template-rows: 1fr;
    grid-column:1/2;
    max-width: 14vw;
    translate : 0 0.1vw;
}
.nav-link hr{

    grid-column:1/2;
    grid-row: 2;
    transform: scaleX(0);
    border: solid 1.3px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}
.nav-link:hover{
    transform: scale(1.125);
    color: var(--primary);
}
.nav-link:hover hr{
    transform: scaleX(1);
    border-color: var(--primary);
}

.nav-menue{
    grid-column: 2/3;
    grid-row: 0;
    height: clamp(1.375em, 2.5vw, 1.625rem);
    fill: var(--neutral);
    float: right;
    transform: translateY(1.5px) rotate(0deg) scale(1.4);
    transition: 0.5s ease-out;
}
.nav-link:hover .nav-menue{
    transform: translateY( 0px) rotate(180deg) scale(1.4);
    fill: var(--primary);
}

.donate-button {
    margin-right: min(3rem, 2vw);
    color: var(--base);
    transition: 0.3s ease-in-out;
    font-family: var(--ff);
    font-weight: bold;
    border: outset var(--primary-dark) 0px;
    border-radius: 5rem;
    background: linear-gradient(var(--primary), var(--primary-dark));
    height: 2.5rem;
    width: 5.5rem;
    min-width: 5.5rem;
    max-width: 5.5rem;
    font-size: 1.125rem;
    transform: scale(0.9)
}
.donate-button:hover{
    transform: scale(1);
    background: linear-gradient(var(--primary), var(--primary-80));
}

/* the hamburger menu code  */

/* <div class="hamburger-menu-container">
    <hr class="hamburger-menu-line">
    <hr class="hamburger-menu-line">
    <hr class="hamburger-menu-line">
    <hr class="hamburger-menu-line">
</div> */

.hamburger-menu-container{
    display: none;
    cursor: pointer;
}

.hamburger-menu-container svg{
    fill: var(--primary);
    width: 5rem;
}

/* the end of the hamburger menu code */

.nav-logo > path:not(.the-brain){
    fill: lightseagreen;
    fill: #1a8dcf;
}

.the-brain{

    fill: var(--primary);
}

@media(max-width: 720px){
    .hi-nav {
        max-height: 15vw;
    }
    #search-bar {
        display: none;
    }
}

