:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --background-color-alpha: #1b1b3280;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;
    --highlight-color-faded: #d1ae12;
    --highlight-color-alpha: #f1be3299;
    --root-font-size: 16px;
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
    font-size: var(--root-font-size);
  }

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  overflow: hidden;
  background-color: var(--app-background-color);
  font-family: var(--font-family)

}

body{
  height: 100vh;
  width: 100vw;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background-color: var(--background-color);
  border: 8px outset var(--highlight-color);
  border-radius: 50px;;
  min-width: 325px;
  gap: 3vh;

}

#header-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
}

#header-title{
  color: var(--secondary-color);
  text-shadow: 4px 4px 1px var(--highlight-color-alpha);
  text-align: center;
  font-size: 10vh;
  /* font-size: 4rem; */
  
}

#header-subtitle{
  color: var(--highlight-color);
  text-shadow: 0px 0px 5px var(--primary-color);
  margin-top: 2%;
   text-wrap: nowrap;
   font-size: 4vh;
   /* font-size: 2rem; */
}

#input-section, #output-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vh;
}

#input-section > label:first-of-type{
  color: var(--highlight-color);
  text-wrap: nowrap;
  font-size: 3.5vh;
  /* font-size: 1.75rem; */
}

#text-input{
  padding: 1.5% 5%;
  height: 4vh;
  width: 80%;
  border: 0.7vh inset var(--highlight-color);
  background-color: var(--primary-color);
  font-size: 2.5vh;
  /* font-size: 1.2rem; */
}

#text-input:hover{
  outline: 2px inset var(--highlight-color);
}

#text-input:focus{
  outline: 2px inset var(--highlight-color);
}

#button-label{
  margin-top: 0.5rem;
  color: var(--highlight-color);
  font-size: 3vh;
  /* font-size: 1.4rem; */
}

#check-btn{
  height: 5.5vh;
  width: 12vh;
  color: var(--highlight-color-faded);
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 6px double;
  border-radius: 10px;
  font-weight: bold;
  font-size: 3vh;
  /* font-size: 1.25rem; */
}

#check-btn:hover{
  color: var(--highlight-color);
  background-color: var(--background-color);
  transform: scale(1.0625);
}
#result{
  display: block;
  color: var(--highlight-color);
  text-wrap: nowrap;
  font-size: 3.5vh;
  /* font-size: 1.5rem; */
}

 @media (max-width: 575px) and (min-height: 700px){
  main > *{
    transform: scale(0.8);
  }
}

@media (max-width: 480px) and (min-height: 575px){
  main > *{
    transform: scale(0.65);
  }
  main{
    gap: 0vh;
  }
  #output-section,#input-section{
    position: relative;
    top: -5vh;
  }
}
