html{
    box-sizing: border-box;
  }
  *, *::after, *::before{
    box-sizing: inherit;
  }
  body{
    font-family: verdana;
    position: relative;
    width: 100vw;
    background-color: #FFF9EC;
    margin: 0;
  }
  main{
    position: absolute;
    top: 10rem;
    left: 19rem;
  }
  header{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: #62452E;
  }
  #navbar{
    width: 18rem;
    height: 1500px;;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .sep{
    height: 20px;
  }
  #navbar .nav-container{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 80px;
    gap: 15px;
  }
  #navbar a{
    border-top: solid;
    border-right: #735751 4px solid;
    border-bottom: #735751 solid;
    padding: 30px;
    color: #735751;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #E7D7CA;
    z-index: 1;
  }
  #navbar a:last-of-type{
    border-bottom: #735751 8px solid;
    padding: 30px;
  }
  #navbar header{
    position:relative;
    background-color: #E7D7CA;
    border-top: A78A7F solid;
    border-right: #735751 solid;
    border-bottom: #735751 solid;
    padding: 40px;
    color: #735751;
    font-weight: bold;
    width: 100vw;
    min-width: 70rem;
    max-width: 100%;
    z-index: 1;
  }
  #navbar a:hover{
   color: #BF4342;
   background-color: #FFF9EC;
   border-right: #BF4342 4px solid;
   border-bottom: #BF4342  8px solid;
   border-top: #BF4342  8px solid;
  }
  li, p{
      color: #735751;
      font-size: 1.2em;
  
  }
  @media(max-width: 800px){
    #navbar header{
        width: 100vw;
        min-width: 55rem;
      }
    #navbar{
        width: 14rem;
    }
    main{
        left: 15rem;
      }
  }
  
  